<template>
  <header>
    <section class="h-top">
      <div class="c-container">
        <div class="logo">
            <a @click="goHome">
              <img :src="images.logo" alt="">
            </a>
        </div>
        <div class="search">
            <div class="pos-helper">
            <font-awesome-icon icon="search" class="search-icon"></font-awesome-icon>
                <input type="text">
            </div>
        </div>
        <div class="navigation">
        <nav>
          <ul>
            <router-link to="/" tag="li" active-class="active" exact><a>Home</a></router-link>
            <router-link to="/locations/1" tag="li" active-class="active"><a>Locations</a></router-link>
            <router-link to="/location/1" tag="li" active-class="active"><a>Location</a></router-link>
            <router-link to="/favorites" tag="li" active-class="active"><a>Favorites</a></router-link>
            <li><a href="#">Log In</a></li>
          </ul>
        </nav>
        </div>
      </div>
    </section>
  </header>
</template>

<script>
export default {
  data() {
    return {
      images: {
        logo: require("../../assets/images/logo.png")
      }
    };
  },
  methods: {
    goHome() {
      this.$router.push("/");
    }
  }
};
</script>

<style scoped lang="scss">
@import "../../assets/sass/core.scss";
header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: $white;
  z-index: 10;
}

.h-top {
  border-bottom: 1px solid $grey;
  .c-container {
    display: flex;
  }
  .logo {
    a {
      display: block;
      padding: 1rem;
    }
  }
  .search {
    padding: 1rem 1rem 1rem 0;
    .pos-helper {
      display: flex;
      align-items: center;
      width: 240px;
      border: 1px solid $grey;
      border-radius: 2px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
      input {
        width: 100%;
        border: none;
        line-height: 20px;
        padding: 9px 10px;
        &:focus {
          outline: none;
        }
      }
      .search-icon {
        display: inline-block;
        color: $blue;
        margin-left: 10px;
      }
    }
  }
  .navigation {
    margin-left: auto;
    padding-right: 1rem;
    ul {
      display: flex;
    }
    li {
      padding: 0 5px;
    }
    .active {
      a {
        &:before {
          opacity: 1;
        }
      }
    }
    a {
      line-height: 40px;
      padding: 1rem 0.5rem;
      display: block;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: $black;
        opacity: 0;
      }
      &:hover {
        &:before {
          opacity: 1;
        }
      }
    }
  }
}
</style>    