<template>
  <div>
    <div class="c-container">
      <div class="row">
        <div class="col">
          <p>Name: {{location.name}}</p>
          <p>Address: {{location.address}}</p>
          <p>City: {{location.city}}</p>
          <p>Email: {{location.email}}</p>
        </div>
      </div>
    </div>
    {{location}}
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  data() {
    return {
      id: this.$route.params.locationId
    };
  },
  computed: {
    ...mapGetters(["company"]),
    location() {
      return this.company[0];
    }
  },
  methods: {
    ...mapActions(["setCompanyId"])
  },
  mounted: function() {
    this.setCompanyId(this.id);
  }
};
</script>

<style scoped lang="scss">
@import "../../assets/sass/core.scss";

.c-container {
  display: flex;
  padding: 1rem 80px;
}
</style>