<template>
    <div>
        <div class="home-jumbo">
            <div class="content">
                <h2>Choose your dentist<br>
                    A few clicks from the most amazing smile</h2>
                    <div class="search">
                        <input type="text" />                        
                        <div class="select-location">
                            <button class="c-button is-blue is-outlined"
                                    @click="goToLocation(1)">Beograd</button>
                            <button class="c-button is-blue is-outlined"
                                    @click="goToLocation(2)">Smederevo</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  methods: {
    goToLocation(id) {
      this.$router.push("/locations/" + id);
    }
  }
};
</script>

<style scoped lang="scss">
@import "../../assets/sass/core.scss";
.home-jumbo {
  height: 100vh;
  background: url("../../assets/images/dentist-bg.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  padding: 1rem 80px;
  justify-content: center;

  .content {
    align-self: center;
    width: 100%;
    max-width: 720px;
  }

  h2 {
    font-size: 32px;
    color: $white;
    font-weight: 600;
    text-shadow: 1px 1px 40px rgba(22, 23, 31, 0.4);
    margin-bottom: 1rem;
  }

  .search {
    position: relative;
    width: 100%;
    z-index: 1;
    box-shadow: 0 15px 46px rgba(26, 26, 29, 0.3),
      0 15px 90px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: $white;
    padding: 10px 160px 10px 10px;
    input {
      line-height: 50px;
      padding: 10px 20px;
      width: 100%;
      border: none;
    }
    .select-location {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 140px;
      .c-button {
        width: 100%;
        &:not(:last-of-type) {
          margin-bottom: 10px;
        }
      }
    }
  }
}
</style>