<template>
  <div class="locations-page">   
    
    <section class="locations-filters-block">
      <div class="c-container">
        <div class="filters">
          <div>
            <button class="c-button is-default is-outlined"
                    @click="setLocationId(1)"
                    :class="{'is-active-blue': locationId==1}">Beograd</button>
          </div>
          <div>
            <button class="c-button is-default is-outlined"
                    @click="setLocationId(2)"
                    :class="{'is-active-blue': locationId==2}">Smederevo</button>
          </div>
        </div>
        <div class="map-switch">
          <label class="c-switch"
                 :class="{'is-active': mapActive}">
            <input type="checkbox" @change="switchMap()">
            <span></span>                         
          </label>
        </div>
      </div>
    </section>

    <section class="locations-block"
             :class="{'map-active': mapActive}">
      <div class="items-block">
        <CompanyThumb v-for="location in companies"
                  :key="location.id" 
                  :location="location" />
      </div>
      <div class="map-block">
        <div class="map-holder">
          <Map />
        </div>
      </div>
    </section>

  </div>  
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Map from "../Map";
import CompanyThumb from "../CompanyThumb";

export default {
  components: {
    CompanyThumb,
    Map
  },
  data() {
    return {
      id: this.$route.params.cityId
    };
  },
  computed: {
    ...mapGetters(["companies", "locationId"]),
    locations() {
      return this.$store.state.locations;
    },
    mapActive() {
      return this.$store.state.mapActive;
    }
  },
  methods: {
    ...mapActions(["switchMap", "setLocationId"])
  },
  mounted: function() {
    this.setLocationId(this.id);
  }
};
</script>

<style scoped lang="scss">
@import "../../assets/sass/core.scss";

.locations-page {
  padding-top: 72px;
}

.locations-filters-block {
  border-bottom: 1px solid $grey;
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  .c-container {
    display: flex;
    padding: 1rem 80px;
  }
  .filters {
    display: flex;
    div {
      margin-right: 0.5rem;
    }
  }
  .map-switch {
    margin-left: auto;
  }
}
.locations-block {
  padding-top: 72px;
  padding: 1rem 80px;
  transition: padding 0.4s;
  position: relative;

  .items-block {
    margin: -0.5rem;
    display: flex;
    flex-wrap: wrap;
  }

  .map-block {
    position: fixed;
    top: 152px;
    right: -33.33333333%;
    bottom: 0;
    width: 33.33333333%;
    padding: 1rem;
    transition: right 0.4s;
    .map-holder {
      height: 100%;
      width: 100%;
      background-color: $grey;
      position: relative;
    }
  }
}
.locations-block {
  &.map-active {
    padding: 1rem 33.33333333% 1rem 1rem;
    .map-block {
      right: 0;
    }
  }
}
</style>