<template>
    <div class="item"
            :class="{'map-active': mapActive, hovered: location.hovered }"
            :dataMarker="'marker_'+ location.id"
            @mouseover="highlightMarker()"
            @mouseout="highlightMarkerStop()">
        <div class="image-holder"
                :style="{backgroundImage: 'url(' + location.photos[0] + ')'}">
        </div>
        <FavoriteButton :companyId="location.id" />
        <div class="text-holder">
            <p class="address">{{location.address}}</p>
            <h3 @click="viewLocation(location.id)">{{location.name}}</h3>
            <a class="website">{{location.website}}</a>
        </div>
    </div>
</template>


<script>
import FavoriteButton from "./FavoriteButton";

export default {
  components: {
    FavoriteButton
  },
  props: ["location"],
  computed: {
    mapActive() {
      return this.$store.state.mapActive;
    }
  },
  methods: {
    highlightMarker(el) {
      let markerId = this._self.$el.getAttribute("datamarker");
      document.getElementById(markerId).classList.add("highlightMarker");
    },
    highlightMarkerStop(el) {
      let markerId = this._self.$el.getAttribute("datamarker");
      document.getElementById(markerId).classList.remove("highlightMarker");
    },
    viewLocation(id) {
      this.$router.push("/location/" + id);
    }
  }
};
</script>

<style scoped lang="scss">
@import "../assets/sass/core.scss";
.item {
  padding: 0.5rem;
  flex: 0 0 20%;
  position: relative;
  @include transition-all(0.2s);
  &:hover {
    box-shadow: 0 10px 40px rgba($black, 0.2), 0 10px 40px rgba($black, 0.1);
  }
  &.hovered {
    box-shadow: 0 10px 40px rgba($black, 0.2), 0 10px 40px rgba($black, 0.1);
  }
}
.item.map-active {
  flex: 0 0 33.33333333%;
}

.image-holder {
  position: relative;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $grey;
  &:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 66.66666666%;
  }
}

.text-holder {
  padding: 0.5rem 0;
  p {
    font-size: 0.875em;
    margin-bottom: 0.25rem;
    color: $red;
  }
  h3 {
    margin-bottom: 0;
    font-weight: 600;
    line-height: 1;
    max-height: 32px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 16px;
    overflow: hidden;
    cursor: pointer;
  }
  a {
    font-size: 0.875em;
    font-weight: 300;
  }
}
</style>