<template>
  <div>
    <span class="fav-trigger" 
          :class="{'is-active': isFavorite}"
          @click="toggleFavorite(companyId)"
          title="Add to favorites">            
            <font-awesome-icon icon="heart" class="search-icon"></font-awesome-icon>
          </span>
  </div>
</template>

<script>
export default {
  props: ["companyId"],
  data() {
    return {
      isFavorite: false
    };
  },
  methods: {
    getAllFavourites() {
      const parsedFavourites = JSON.parse(localStorage.getItem("allFavorites"));
      const existingFavorites = parsedFavourites==null ? [] : parsedFavourites;
      return existingFavorites;
    },
    toggleFavorite(companyId) {
      this.isFavorite = !this.isFavorite;

      let allFavorites = [];
      let existingFavorites = this.getAllFavourites()
      let storedFavorites = [];

      // Save allEntries back to local storage or remove if already exists
      let index = existingFavorites.indexOf(companyId);
      if (index > -1) {
        existingFavorites.splice(index, 1);
      } else {
        existingFavorites.push(companyId);
      }
      localStorage.setItem("allFavorites", JSON.stringify(existingFavorites));

      // Display stored favorites
      storedFavorites = JSON.parse(localStorage.getItem("allFavorites"));
      this.$store.state.favoritesIdArray = JSON.parse(
        localStorage.getItem("allFavorites")
      );
    }
  },
  mounted() {
    let existingFavorites = this.getAllFavourites();
    let index = existingFavorites.indexOf(this.companyId);
    if (index > -1) {
      this.isFavorite = true;
    } else {
      this.isFavorite = false;
    }
  }
};
</script>

<style scoped lang="scss">
@import "../assets/sass/core.scss";
.fav-trigger {
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: $white;
  border-radius: 50%;
  border: 4px solid $blue;
  cursor: pointer;
  text-align: center;
  @include transition-all(0.2s);
  opacity: 0.25;
  &:hover {
    opacity: 0.5;
  }
  > svg {
    font-size: 14px;
    color: $blue;
  }
  &.is-active {
    opacity: 1;
  }
}
</style>