<template>
  <div>
    <ul>
    <li v-for="company in favorites"
              :key="company.id">
              {{company.name}}
    </li>
    </ul>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters(["favorites"])
  }
};
</script>

<style scoped>
</style>