<template>
    <div>
        <div id="c-map"></div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import mapboxgl from "mapbox-gl";

export default {
  data() {
    return {};
  },
  computed: {
    ...mapGetters(["companies"])
  },
  methods: {
    ...mapActions(["toggleHoveredCompany"]),
    loadMap() {
      document.getElementById("c-map").innerHTML =
        "<div id='map' style='width: 100%; height: 100%;'></div>";
      const accessToken =
        "pk.eyJ1IjoiaGFwcHlmaXN0IiwiYSI6ImNqamczMXRkbTB3NGwza3BhNmd6bmpyeHUifQ.jmE10zFidgboSsRH2P7otQ";
      var mapOptions = {
        center: [41.648744, 21.943987],
        zoom: 9
      };
      var map = new L.map("map", mapOptions);
      var layer = new L.TileLayer(
        "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
      );
      map.addLayer(layer);

      const myIcon = L.divIcon({
        className: "my-custom-marker",
        iconAnchor: [0, 0],
        labelAnchor: [0, 0],
        popupAnchor: [0, 0],
        html: `<span></span>`
      });

      let locations = this.companies;
      var markerGroup = [];
      var markers = [];
      let self = this;
      for (var i = 0; i < locations.length; i++) {
        const location = locations[i];
        markers[location.id] = L.marker([location.lat, location.lng], {
          icon: myIcon
        });
        markers[location.id].bindPopup('<p>'+location.name+'!<br />'+location.address+'</p>');
        markers[location.id].on("mouseover", function(ev) {
          ev.target.openPopup();
          self.toggleHoveredCompany(location.id);
        });
        markers[location.id].on("mouseout", function(ev) {
          ev.target.closePopup();
          self.toggleHoveredCompany(location.id);
        });
        markers[location.id].addTo(map);
        markerGroup.push(markers[location.id]);

        markers[location.id]._icon.id = "marker_" + location.id;
      }
      var group = new L.featureGroup(markerGroup);
      map.fitBounds(group.getBounds(), { padding: L.point(20, 20) });
    }
  },
  watch: {
    companies: function() {
      this.loadMap();
    }
  },
  mounted: function() {
    this.loadMap();
  }
};
</script>

<style scoped>
@import "../../node_modules/mapbox-gl/dist/mapbox-gl.css";
#c-map {
  position: absolute !important;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
</style>