<template>
  <div id="app" 
       class="app-holder"
       :class="{'no-header': $route.path==='/'}">
    <app-header v-if="$route.path!='/'"></app-header>
    <router-view></router-view>
  </div>
</template>

<script>
import Header from "./components/shared/Header";
import Locations from "./components/pages/Locations";

export default {
  components: {
    appHeader: Header,
    appLocations: Locations
  },
  data() {
    return {};
  }
};
</script>

<style lang="scss">
@import "assets/sass/theme";
</style>
