<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Buttons <span style="font-size: 0.75em;">(Boje ce se menjati)</span></h2>
                    <div style="margin-bottom: 0.5rem;">
                        <button class="c-button is-default">Default</button>
                        <button class="c-button is-red">Button red</button>
                        <button class="c-button is-green">Button green</button>
                        <button class="c-button is-blue">Button blue</button>
                    </div>
                    <div>
                        <button class="c-button is-default is-outlined">Default Outlined</button>
                        <button class="c-button is-red is-outlined">Button red outlined</button>
                        <button class="c-button is-green is-outlined">Button green outlined</button>
                        <button class="c-button is-blue is-outlined">Button blue outlined</button>
                    </div>
                    <h2>Switch</h2>                    
                    <div>
                        <label class="c-switch"
                               :class="{'is-active': switchActive}">
                            <input type="checkbox" @change="switchActive = !switchActive">
                            <span></span>                         
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
         data() {
            return {
                switchActive: false
            }
        },
        methods: {

        },
    }
</script>

<style scoped lang="scss">
@import "assets/sass/core.scss";

@include media-breakpoint-up(sm) {
    
}

</style>
