.c-switch {
    display: block;
    width: 50px;
    height: 30px;
    margin: 0;
    position: relative;
    cursor: pointer;
    input {
        position: absolute;
        left: 0; top: 0;
        opacity: 0; 
        visibility: hidden;
        z-index: -1;
    }
    &:before {
        content: '';
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
        background-color: rgba($grey, 0.5);
        border: 1px solid $grey;
        border-radius: 15px;
        @include transition-all(0.4s);
    }
    span {
        position: absolute;
        left: 1px; top: 1px;
        width: 28px; height: 28px;
        background-color: $white;
        border-radius: 50%;
        @include transition-all(0.4s);
        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 50%; left: 50%;;
            width: 12px; height: 2px;
            background-color: $black;
            @include transform(rotate(45deg) translate(-50%, -50%));
            transform-origin: 0 0;
            @include transition-all(0.4s);
        }
        &:before {
            @include transform(rotate(-45deg) translate(-50%, -50%));
            
        }
        &:after {
            
        }
    }
    &.is-active {
        &:before {
            background-color: rgba($blue, 0.5);
            border: 1px solid $blue;
        }
        span {
            @include transform(rotate(180deg));
            left: 21px;
            &:before {
                width: 14px;
                margin-left: -3px;
                background-color: $blue;           
            }
            &:after {
                width: 8px;
                margin-top: -2px;
                margin-left: 4px;
                background-color: $blue; 
            }
        }
    }
}