@import 'theme/reboot';
@import 'theme/grid';
@import 'theme/buttons';
@import 'theme/switch';

html {
    font-size: 10px;
    @include media-breakpoint-up(sm) {
        font-size: 20px;
    }
}
@include media-breakpoint-up(sm) {
    html {
        font-size: 20px;
    }
}
body {
    font-size: 16px;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
}

.app-holder {
  padding-top: 80px;
  &.no-header {
    padding-top: 0;
  }
}

::selection {
  background: $blue; /* WebKit/Blink Browsers */
  color: $white!important;
}
::-moz-selection {
  background: $blue; /* Gecko Browsers */
  color: $white!important;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}
a:focus, a:active,
button{
  outline: none!important;
}
a{
  color: $black;
  outline: none;
}

//a:active,
//a:visited,
//a:focus,
a:hover {
  @include transition-all(.2s);
  text-decoration: none;
  color: inherit;
}
a.underline:hover, a.underline:active, a.underline:focus, a.underline:visited {
  text-decoration: underline;
}

ul{
  margin: 0;
  padding: 0;
}

ul li{
  list-style-type: none;
}

img {
  height: auto;
  max-width: 100%;
}



// Custom marker
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1); opacity: 0.0;
    transform: scale(1); opacity: 0.0;
  }
  30% {
    -webkit-transform: scale(1.45) scale(1); opacity: 1;
    transform: scale(1.45);
  }
  100% {
    -webkit-transform: scale(2.75); opacity: 0;
    transform: scale(2.75); opacity: 0;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1); opacity: 0.0;
    -ms-transform: scale(1); opacity: 0.0;
    transform: scale(1); opacity: 0.0;
  }
  30% {
    -webkit-transform: scale(1.45) scale(1); opacity: 1;
    -ms-transform: scale(1.45) scale(1); opacity: 1;
    transform: scale(1.45) scale(1); opacity: 1;
  }
  100% {
    -webkit-transform: scale(2.75); opacity: 0;
    -ms-transform: scale(2.75); opacity: 0;
    transform: scale(2.75); opacity: 0;
  }
}

.my-custom-marker {
  span {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 26px;
    &:after {
      content: '';
      position: absolute;
      width: 100%; height: 100%;
      background-color: $white;
      border-radius: 50%;
      border: 4px solid $blue;
    }
  &:before {
    content: '';
    position: absolute;
    width: 100%; height: 100%;
    border: 1px solid $blue;
    display: inline-block;
    border-radius: 50%;
    z-index: -1;
  }
  }
  &.highlightMarker {
    span:before {
      -webkit-animation-name: pulse;
      animation-name: pulse;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
    }
  }
}